
@import url('https://fonts.googleapis.com/css?family=Poppins|Open+Sans');


/* Base Styles and Reusables */

h1,h2,h3,h4,h5,h6 {
  font-family: 'Poppins', arial black;
  color: #1a1a1a;
}

p {
  font-family: 'Poppins', arial;
  color: #1a1a1a;
}

a {
  color: inherit;
}

a:visited {
    color: inherit;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.modal {
  margin-top: 50px;
}

.modal-content {
  border-radius: 0px;
}

.btn {
  border-radius: 0px;
}

.cho-btn {
  display: block;
  margin-top: 40px;
  margin-bottom: 20px;
  color: black;
  background-color: #ffcc00;
  background-color: #f39c12;
  border: none;
  padding: 10px 15px;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
}

.container-fluid {
  padding: 0px 0px;
}


/* Nav Styles */

.nav-top {
  background-color: #1a1a1a;
  height: 100%;
  width: 25%;
  margin-left: 75%;
  position: fixed;
  z-index: 10000;
  border-left: solid white thin;
}

.active {
  border: #f39c12 solid thin;
}

.nav-brand-img {
  height: 100px;
  margin: 3em auto;
  display: block;
}

.nav-ul-desktop {
  padding: 0px  0px 35px 0px;
}

.mobile-menu {
  color: white;
  font-size: 35px;
  float: right;
  margin: 25px 35px;
}

.nav-ul-mobile {
  background-color: #1e1e1e;
  float: right;
  width: 100%;
  border-bottom: solid white thin;
  margin-top: -10px;
}

.nav-header {
  color: white;
  font-size: 20px;
}

.nav-events {
  color: white;
  text-decoration: none;
  font-size: 13px;
  list-style: none;
  text-align: center;
  margin-top: -20px;
  font-weight: 200;
}

.nav-events-li {
  margin: 17px 7px;
  cursor: pointer;
  font-size: 15px;
}

.event-title {
  font-weight: 700;
}

.nav-events-location {
  font-size: 15px;
  font-weight: 200;
  margin-top: -38px;
}

.nav-news {
  border: solid white thin;
  margin: 10px 25px;
  padding: 0px 0px 15px 0px;
}

.nav-news-li {
  font-size: 13px;
}

.hide-menu {
  display: none;
}

.show-menu {
  display:block;
}

.mobile-li {
  list-style: none;
  font-size: 25px;
  color: white;
  text-align: center;
  padding-bottom: 10px;
}

.desktop-li {
  padding: 0px 10px;
  margin: 0px 20%;
  list-style: none;
  font-size: 25px;
  color: white;
  text-align: center;
}


/* Write Up Section */

.section-text {
  clear: both;
  font-size: 17px;
}

.contact-btn {
  display: block;
  cursor: pointer;
  text-align: center;
}

.desktop-carousel {
  margin-top: 30px;
}


/* Events Section */

.main-events-h2 {
  clear: both;
}

.section-header {
  padding-top: 41px;
}

.section-header-img {
  margin-bottom: 40px;
}

.main-section-events {
  margin-top: 40px;
}

.main-section-calendar {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.event-list {
  font-size: 20px;
  padding: 0px 15px 15px 15px;
  text-decoration: underline;
  list-style: none;
  cursor: pointer;
}

.event-list-li {
  padding: 5px;
}

.section-event-img {
  padding-bottom: 10px;
  cursor: pointer;
}

.section-previous-events {
  clear: both;
  display: none;
}

.iframe-pdf {
  width: 90%;
  height: 500px;
  display: none;
}


/* Contact Section */

.main-section-form {
  margin-top: 30px;
  background-color: #1e1e1e;
}

.main-contact-h2 {
  color: white;
  text-align: center;
  font-size: 40px;
  margin: 50px 0px 30px 0px;
}

.form-label {
  color: white;
  padding-left: 8%;
  padding-top: 8px;
  font-family: 'Poppins', arial;
  font-size: 17px;
}

.form-textarea {
  margin-top: 15px;
  height: 150px;
}


/* Footer */

.footer {
  background-color: #1e1e1e;
  text-align: center;
  padding-top: 70px;
  clear: both;
  height: 100%;
}

.footer-img {
  margin: 0 auto;
  display: block;
  width: 300px;
}

.copyright {
  font-size: 10px;
  color: white;
  padding-bottom: 20px;
}


/* Hover Styles */

.nav-events-li:hover, .event-list-li:hover,
.desktop-li:hover, .mobile-li:hover  {
  color: #f39c12;
}

.cho-btn:hover {
  background-color: #1e1e1e;
  color: white;
  border: solid white thin;
  margin-top:39px;
  margin-bottom: 19px;
  cursor: pointer;
}

.active:hover {
  color: white;
}

a:hover {
  text-decoration: none;
}


/* Media Queries */

@media (max-width: 767px) {

  .nav {
    margin-left: 0px;
  }

  .nav-top {
    background-color: transparent;
    width: 100%;
    height: 20%;
    margin-left: 0%;
    margin-top: -5px;
  }

  .mobile-menu-clicked-background {
    background-color: #1e1e1e;
  }

  .mobile-menu {
    color: #1e1e1e;
  }

  .mobile-menu-clicked-hamburger {
    color: white;
  }

  .nav-brand-img {
    display: none;
  }

  .nav-events {
    display: none;
  }

  .desktop-header {
    display: none;
  }

  .mobile-header {
    display: block;
  }
}

@media (min-width: 768px) {

  .nav-ul-desktop {
    display: block;
  }

  .mobile-menu {
    display: none;
  }

  .desktop-header {
    display: block;
  }

  .mobile-header {
    display: none;
  }

  .section-previous-events {
    display: block;
  }

  .iframe-pdf {
  display: block;
  }
}

@media (min-width: 768px) and (max-width: 992px) {

  .modal {
    width: 80%;
    overflow: visible;
    margin-left: -15px;
  }

}

@media only screen and (min-width : 992px) {

 /* .nav-header {
    font-size: 22px;
  }

  .nav-events-li {
    font-size: 18px;
  }

  .nav-events-location {
    font-size: 15px;
  }

  .nav-news-li {
    font-size: 18px;
  }*/
}

@media only screen and (min-width : 1350px) {

  /*.nav-ul-desktop {
  padding-bottom: 55px;
}

  .section-header {
    padding-top: 55px;
  }

  .nav-brand-img {
    margin: 4em auto;
  }*/

  .nav-header {
    font-size: 22px;
  }

  .nav-events-li {
    font-size: 18px;
  }

  .nav-events-location {
    font-size: 18px;
  }

  .nav-news-li {
    font-size: 18px;
  }

  .desktop-li {
    margin: 0 28%;
    font-size: 30px;
  }

  .nav-brand-img {
    height: 120px;
  }

  .cho-btn {
    font-size: 18px;
  }
}
