
/*body {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}*/

.container-fluid {
  padding: 0px 0px;
}

.nav {
  background-color: white;
  height: 170px;
  width: 100%;
  border-bottom: solid black;
}

.nav-brand-img {
  height:100px;
  margin: 30px;
}
.nav-ul {
  float: right;
  padding: 60px 30px;
}
.nav-ul-li {
  float: left;
  padding: 0px 10px;
  list-style: none;
  font-size: 25px;
}

.section-text {
  clear: both;
  margin-top: 50px;
  font-size: 17px;
}

.main-events-h2 {
  clear: both;
}


/* Carousel Styles */

.section-carousel {
  padding-top: 70px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
  background-color: transparent;
  color: #fff;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

  .main-section-calendar {
    text-align: center;
  }

  .main-calendar-h2 {

  }
